/**
* ETML
* Auteur: Sebastien Tille
* Date: 2023/10/19
* Description: Feuille de style du site sur NieR: Automata.
*              Formulaire de contact.
*
* Structure:
*  1. Form
*  2. Media querries
**/

/* || FORM */
#form-image {
  width: 40%;
}

#form-description {
  width: calc(60% - 6ch);
}

#contact-form {
  width: 100%;
  margin: 1ch 0;
}

.form-item {
  display: flex;
  padding: 0.3rem 0;
}

label {
  flex-grow: 1;
}

input, textarea {
  width: 80%;
  background-color: var(--brown-background);
  border: 1px solid rgba(73, 70, 62, 0.3);
  resize: vertical;
}

/* || MEDIA QUERRIES */
@media only screen and (max-width: 1200px) {
  #form-image {
    width: 100%;
    height: 30ch;
  }

  #form-image img {
    object-position: center;
  }

  #form-description {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  #form-image {
    width: 100%;
    height: 30ch;
  }

  #form-image img {
    object-position: center;
  }

  #form-description {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .form-item {
    flex-flow: row wrap;
    padding-bottom: 0.5rem;
  }

  label, input, textarea {
    width: 100%;
  }

  input {
    height: 1.5rem;
  }
}