/**
* ETML
* Auteur: Sebastien Tille
* Date: 2023/10/19
* Description: Feuille de style du site sur NieR: Automata.
*              Image d'accueil du site.
*
* Structure:
*  1. Hero image
*  2. Media querries
**/

/* || HERO IMAGE */
/* Background image */
#hero-image {
  height: 85vh;
  overflow: hidden;

  background-image: url(../media/images/world-guide/city-ruins.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(75%);
}

/* Scanlines */
#hero-image::after {
  content: "";
  height: 100%;
  display: block;
  background: url(../media/images/effects/border.png) repeat 0 0/auto 4px;
}

/* Title and string */
#hero-text {
  position: absolute;
  top: 45%;
  padding-left: calc((100% - 120ch)/2);
  margin: 4ch;

  color: var(--brown-background);
  filter: brightness(125%);
  text-transform: uppercase;
  text-shadow: 3px 3px 5px black;
}

#hero-logo {
  max-width: 50%;
  min-width: 25ch;
}

/* || MEDIA QUERRIES */
@media only screen and (max-width: 1350px) {
  #hero-text, #hero-text p {
    padding: 0;
    text-align: center;
    word-break: break-all;
  }

  #hero-logo {
    max-width: 70%;
  }
}