/**
* ETML
* Auteur: Sebastien Tille
* Date: 2023/11/03
* Description: Feuille de style du site sur NieR: Automata.
*
* Structure:
*  1. General styles
*  2. Navigation
*  3. Footer
*  4. Typography
*  5. Buttons
*  6. Cards
*  7. Scrollbar
*  8. Media querries
*
**/

/* || GENERAL STYLES  */
/* Colors, selections and behavior */
:root {
  --brown-darkest: rgb(4, 1, 0);
  --brown-dark: rgb(73,70,62);
  --brown-light: rgb(175,168,149);
  --brown-background: rgb(211,206,181);
  --brown-background-light: rgb(222, 216, 182);
  --text-white: rgb(255, 255, 255);
}

::selection {
  color: var(--brown-background);
  background: var(--brown-dark);
}

html {
  scroll-behavior: smooth;
}

/* General layout */
body {
  display: grid;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--brown-background);
  font-size: 1.2rem;
}

main {
  padding-bottom: 10rem; /* Footer */
  max-width: 120ch;
  margin: 0 auto;
  color: var(--brown-dark);
}

p {
  text-align: justify;
}

/* Grid-like overlay */
.dots {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: block;

  /* Grid */
	background-size: 5px 5px;
  background-image:
    linear-gradient(to right, rgba(100, 100, 100, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(100, 100, 100, 0.05) 1px, transparent 1px);
  
  /* Vignette */
  box-shadow: 0 0 220px rgba(0, 0, 0, 0.2) inset;

  pointer-events: none;
}

/* Background shape */
.shape {
  position: absolute;
  bottom: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  background: url(../media/images/effects/bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Reversed div */
#shape-top {
  rotate: 180deg;  
}

/* Website content */
.website-container {
  position: relative;
  min-height: 100vh;
}

/* || NAVIGATION */
/* Sticky navbar */
nav {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
  transition: all 0.2s;

  /* Dot border */
  background-color: var(--brown-background);
  background-clip: content-box;
  border-bottom: 15px solid transparent;
  border-image: url(../media/images/effects/footer-border.png) 0 0 27 0 round;
}

/* Bottom border */
nav::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--brown-dark);
}

#navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 100%;
  max-width: 120ch;
  margin: 1ch 0;
  padding: 0;
}

/* Navbar specific buttons */
#navbar .button {
  text-transform: uppercase;
  list-style: none;
  width: 100%;
  max-width: 20ch;
}

#navbar a {
  display: block;
  font-size: 1.4rem;
  color: var(--brown-dark);
}

#navbar li:hover a, 
#navbar li:focus a, 
#navbar .active a {
  color: var(--brown-light);
}

/* || FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: 3rem;
  padding-bottom: 1rem;

  border-top: 15px solid transparent;
  border-image: url(../media/images/effects/footer-border-reversed.png) 27 0 0 0 round;

  font-size: 0.8rem;
}

footer::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  border: 1px solid var(--brown-dark);
}

footer a, footer li {
  color: var(--brown-dark);
}

footer a:hover {
  color: var(--brown-darkest);
}

.footer-content {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 120ch;
}

.footer-title {
  font-weight: bold;
}

.footer-containers ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* || TYPOGRAPHY */
h1 {
  margin-top: 6rem;
  font-weight: 400;
  font-size: 3.5rem;
  
  text-transform: uppercase;
  text-shadow: 8px 8px rgba(73, 70, 62, 0.3);
}

a {
  text-decoration: none;
}

/* || BUTTONS */
.button {
  position: relative;
  padding: 0.3rem 0.5rem;
  max-width: 300px;

  background-size: 201% 200%; /* Fixes overlap */
  background-color: var(--brown-light);
  color: var(--brown-light);
  
  cursor: pointer;
  transition: all 0.15s;
}

.button:hover,
.button:focus,
.button.active {
  background-color: var(--brown-dark);
  color: var(--brown-dark);
}

/* Square on the left */
.square {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 1em;
  height: 1em;
  color: var(--brown-dark);
  background-color: var(--brown-dark);
}

.button:hover .square, 
.button:focus .square, 
.button.active .square {
  color: var(--brown-light);
  background-color: var(--brown-light);
}

/* Text */
.button a {
  margin-left: 1em;
  padding: 5px;
  color: var(--brown-dark);
}

.button:hover a, 
.button:focus a, 
.button.active a {
  color: var(--brown-light);
}

/* Button container */
.box {
  background-size: 200% 200%;
  transition: all 0.15s;
}

.slide-right {
  background-image: linear-gradient(to right, var(--brown-dark) 50%, var(--brown-light) 0);
  background-position: right;
}

.slide-right:hover, 
.slide-right:focus, 
.button.active {
  background-position: left;
}

/* Button inside of text (in-game layout) */
.button-text {
  margin: 1ch 0;
}

/* || Cards */
.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 2rem;
}

.large-card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2ch;
}

.card-container-title {
  margin-bottom: 0;
}

/* Small cards */
.card {
  width: 38ch;
  background-color: var(--brown-background-light);
  height: fit-content;
}

.card-title {
  margin: 0;
  padding: 0.2rem 1ch;

  font-weight: normal;
  font-size: 1em;
  color: var(--brown-background);
  background-color: var(--brown-dark);
}

/* Image, description */
.card-content {
  padding: 1ch;
}

.card-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card-description {
  border-top: 1px solid var(--brown-darkest);
  border-bottom: 1px solid var(--brown-darkest);
}

/* Large cards */
.large-card {
  display: flex;
  flex-flow: row wrap;
  max-width: 120ch;
  background-color: var(--brown-background-light);
}

.large-card-title {
  width: 100%;
  margin: 0;
  padding: 0.2rem 1ch;

  font-weight: 400;
  text-transform: uppercase;
  color: var(--brown-background);
  background-color: var(--brown-dark);
}

/* Image */
.large-card-image-container {
  width: 30%;
  margin: 1ch;
}

.large-card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* Placeholder (?) */
.large-card .missing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1ch;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.1);
}

.large-card .missing span {
  font-size: 7rem;
}

/* Description */
.large-card-description {
  margin: 1ch 2ch;
  width: calc(70% - 6ch);
  border-top: 1px solid var(--brown-darkest);
  border-bottom: 1px solid var(--brown-darkest);
}

.large-card-button-container {
  margin-right: 1ch;
}

/* || SCROLLBAR */
/* Webkit */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--brown-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--brown-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--brown-darkest);
}

/* Gecko */
:root {
  /* Firefox */
  scrollbar-color: var(--brown-light) var(--brown-dark);
  scrollbar-width: thin;
}

/* || MEDIA QUERRIES */
@media only screen and (max-width: 1400px) {
  main {
    margin: 4ch;
  }

  #navbar ul {
    margin-left: 4ch;
    margin-right: 4ch;
  }

  #navbar .button {
    max-width: 16ch;
  }

  /* 2 cards */
  .cards-container {
    justify-content: space-around;
  }

  .card {
    width: 50ch;
  }
}

@media only screen and (max-width: 1200px) {
  #navbar .button {
    max-width: 14ch;
  }

  /* 1 card */
  .card {
    width: 75%;
  }

  .large-card-image-container {
    height: 30rem;
    width: 100%;
  }

  .large-card .missing {
    height: 10rem;
    width: 100%;
  }

  .large-card-description {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  #navbar .button {
    width: fit-content;
  }
}

@media only screen and (max-width: 750px) {
  main {
    padding-bottom: 32ch;
  }

  #navbar {
    overflow: auto;
  }

  #navbar ul {
    margin: 0;
  }

  #navbar li {
    border-left: 1px solid var(--brown-dark);
    border-bottom: 2px solid var(--brown-dark);
  }

  .navbar-container {
    flex-flow: row wrap;
    gap: 2px;
  }

  /* Active element top left */
  .active {
    order: -9999;
  }

  .footer-containers {
    width: 100%;
    padding-bottom: 2ch;
  }

  .footer-title {
    text-align: center;
  }

  .footer-content {
    flex-flow: row wrap;
    text-align: center;
  }

  .button {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .large-card-image-container {
    height: 20rem;
  }
}